<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Small Blog has a new article called <%= @article.title %></h1>
<p>Hi <%= @subscription.email %>,
<br>Small Blog has a new article called <%= @article.title %>.
</p>
<p>
To read it just follow this link: <%= @url %>.
</p>
<p>To unsubscribe click here: <%= link_to('Unsubscribe', subscription_url(@subscription), method: :delete) %></p>
</body>
</html>
