<!DOCTYPE html>
<html>
<head>
  <title>Pqblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="blog-header">
    <h1><%= link_to 'Small Blog', root_path %></h1>
    <% flash.each do |name, msg| %>
      <%= content_tag :article, msg, class: "alert alert-#{name}" %>
    <% end %>

  </header>

  <main class="container">
  <article id="email-subscription" class="row">
    <header><%= render 'subscriptions/form' %></header>
  </article>

    <%= yield %>
  </main>

</body>
</html>
